body {margin: 0;}
header {
    background: gray;
}
a {
    position: relative;
    margin-right:45px;
}
.recherche{
    position: absolute;
        top: 4%;
        right: 6%;
}

nav{
    background: lightblue;

    padding: 1em;
}
.leftcontent {
    height: 100%;
    width: 60%;
    background: rgb(255, 210, 171);
    float: left;
}

.rightcontent {
    height: 100%;
    width: 40%;
    background: lightgreen;
    float: left;
}